.flexbox-container {
  display: flex;
  padding: 5px;
  background-color: lightcyan;
}
.flexbox-item {
  flex: 1 1 200px;
  padding: 5px;
  margin: 5px;
  background-color: orange
}
#item01 {
}
#item02 {
}
#item03 {
}
#item04 {
}
#item05 {
}
#item06 {
}
#item07 {
}
#item08 {
}